.progress-bar-container {
	height: 5px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(18, 101, 185);
	width: 100%;
	z-index: 200;

	.progress-bar {
		height: 5px;
		width: 50%;
		position: absolute;
		// background-color: rgb(54, 150, 247);
		background-color: white;
		animation: progress 1.5s infinite linear;
		left: 0;
		top: 0;
	}
}

@keyframes progress {
	0% {
		left: -100%;
		width: 40%;
	}
	50% {
		width: 60%;
	}
	100% {
		left: 100%;
		width: 90%;
	}
}
