.progress-bar-container {
	height: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 200;

	.progress-bar {
		height: 5px;
		width: 50%;
		position: absolute;
		background-color: rgb(4, 119, 233);
		// background-color: rgb(18, 101, 185);
		// background-color: rgb(18, 101, 185);
		animation: progress 1.7s infinite linear;
		left: 0;
		top: 0;
	}
}

@keyframes progress {
	0% {
		left: -100%;
		width: 40%;
	}
	50% {
		width: 50%;
	}
	100% {
		left: 100%;
		width: 60%;
	}
}
