.App {
	padding: 50px 20px;
	padding-top: 70px;
	font-size: 1.05rem;
}

svg {
	margin-right: 10px;
	transform: scale(1.2);
}

a,
a:focus,
a:visited,
a:target {
	text-decoration: none !important;
}

button {
	min-width: 80px;
	text-decoration: none !important;
}
button.long {
	min-width: 100px;
}

@media screen and (min-width: 720px) {
	.App {
		margin: 0 auto;
		width: 700px;
		padding: 50px 10px;
		padding-top: 70px;
		font-size: 1.2rem;
	}
}
